* {
  scroll-behavior: smooth;
  outline: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
:root {
  --couleur-titre: #16224c;
  --components-other: #f3d990;
  --couleur_carte: #abedab;
  --couleur_fond: #5a72c9;
}
header li {
  display: inline-flex;
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#metier {
  background-color: var(--components-other);
  font-weight: 700;
  font-size: 20px;
  color: mintcream;
}
/* #Where-can-i-be-found {
    background-color: blue;
}
#download-cv {
    background-color: cadetblue;
}
#dcfe {
    background-color: darkblue;
}
#projets-cliquable {
    background-color: darkgoldenrod;
}
#screen-projects {
    background-color: deepskyblue;
}
#hobbies-centre-sportive-langues {
    background-color: dodgerblue;   
}
#contactez-moi {
    background-color: indianred;
} */

@media screen and (max-width: 768px) {
  p {
    color: mintcream;
    text-align: center;
    font-size: smaller;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--couleur_fond);
  }
  .navbar-links {
    overflow: hidden;
    position: absolute;
    width: 0;
    top: 65px;
    right: 0;
    background-color: #ffffff;
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar-links {
    width: 100%;
    justify-content: center;
  }
  .show-nav .bar {
    width: 0;
    background-color: transparent;
  }
  .navbar a {
    color: var(--couleur-titre);
  }
  #menu-icon {
    font-size: 2.1em;
    color: #8d8247;
  }
  ul {
    list-style: none;
    font-size: 1.5em;
    display: FLEX;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
  }
  .logo {
    color: #060606;
    font-weight: 800;
    font-size: 1.3em;
    background: #f2f5f2;
    border-radius: 11px;
    border: 1px solid black;
    padding: 0.5em;
  }
  #contactez-moi-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #contactez-moi-div button {
    margin: auto;
  }
  #img-pro {
    width: 60%;
    border-radius: 61%;
    border: 1px solid black;
    background-color: bisque;
    margin: 1em auto;
  }
  footer {
    text-align: center;
  }
  #about-me {
    background-color: var(--couleur_carte);
  }
  #header-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .burger {
    background: transparent;
    padding: 0;
    border: none;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
  }
  .bar {
    display: block;
    width: 38px;
    height: 4px;
    background-color: var(--couleur-titre);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    display: block;
    content: "";
    width: 38px;
    height: 4px;
    left: 0;
    background-color: #ffffff;
    position: absolute;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
}
.bar::before {
  transform: translateY(-8px);
}
.show-nav .bar::before {
  transform: rotate(45deg);
}
.bar::after {
  transform: translateY(8px);
}
.show-nav .bar::after {
  transform: rotate(-45deg);
}
h1 {
  background-color: var(--couleur-titre);
  margin: 0;
  /* -webkit-text-stroke: 1px #ffffff; */
  /* -webkit-text-fill-color: #8592d3; */
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
}
h2 {
  color: mintcream;
  background-color: rgb(64 58 181);
}
#metier {
  background-color: #f2f5f2;
  color: #060606;
}
#my-compétences {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--couleur_fond);
}
#languagesSection1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5em;
  /* width: auto; */
}
.compétences li {
  color: black;
  padding: 7px;
  margin: 4px;
  border-radius: 40px;
  background-color: #ffffff;
  border: 1px solid black;
  width: 160%;
}
#my-formation,
#my-experiences-pro {
  display: flex;
  flex-direction: column;
  gap: 9px;
  /* background-color: var(--components-other); */
}
#my-formation div {
  /* background-color: var(--components-other); */
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  margin: 0.1em 1em;
  background-color: mintcream;
  margin-bottom: 1em;
}
#my-experiences-pro div {
  /* background-color: var(--components-other); */
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  margin: 0.1em 1em;
  background-color: mintcream;
  margin-bottom: 1em;
}
#my-professional-social-network {
  padding: 1em;
}
#findEmploi div {
  background-color: mintcream;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  padding: 1em;
}
#my-professional-social-network div {
  /* margin-top: 1em;
    background-color: rgb(234 204 109);
    padding: 0.5em;
    color: var(--background-color); */
}
#download-cv-div button {
  font-weight: 700;
    /* background-color: rgb(22 34 76); */
    /* border: 1px solid black; */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 20px; */
    cursor: pointer;
    -webkit-box-shadow: 9px 9px 13px -3px rgba(82, 82, 82, 1);
    -moz-box-shadow: 9px 9px 13px -3px rgba(82, 82, 82, 1);
    box-shadow: 7px 7px 11px -4px rgb(22 22 22);
    margin: 1em auto;
}
#projets-cliquable-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--couleur-titre);
}
.projects .titre-projets {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  color: black;
  width: 45%;
  border: 1px solid black;
}
.projects .description-projets {
  color: mintcream;
}
.projects .screen-projets img {
  height: auto;
  width: 100%;
}
/* Icon */

#icon-indeed,
#icon-linkedin,
#icon-github {
  display: flex;
  gap: 2em;
}
.icon_space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: mintcream;
}
.icons-center {
  margin-top: 1em;
  background-color: var(--couleur-fond);
  padding: 1em;
  border: 1px solid var(--background-color);
}
/* li:hover {
    color: mintcream;
    background-color: var(--couleur-fond);
  } */
/* li */
a {
  text-decoration: none;
  color: var(--background-color);
}
.message-profil {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 20px;
  color: mintcream;
}
.message-profil span {
  color: #ffffff;
  font-weight: 800;
  font-size: 17px;
  background: #abedab;
  border-radius: 11px;
  border: 1px solid black;
  margin: auto;
  padding: 0.5em;
}
iconify-icon {
  width: 100px;
  height: auto;
}
