@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:wght@100&display=swap');

* {
  scroll-behavior: smooth;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
}
:root {
  --couleur-titre: #384266;
  --components-other: #f3d990;
  --couleur_carte: #abedab;
  --couleur_fond: #586594;
}
body {
  margin: 0;
  padding: 0;
  background-color: mintcream;
}
.container {
  overflow: hidden;
  display: flex;
  margin-top: 1.7em;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
/*  navbar */
.navbar {
  /* 384266 */
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-evenly;
  align-items: center;
  background-color: #384266;
  color: white;
  z-index: 99999;
}
.logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.burger {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  width: 30px;
  height: 21px;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  width: 45px;
  height: 45px;
  border: none;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
  /* display: flex; */
  align-items: center;
  text-align: center;
}
.navbar-links li:hover {
  background-color: #586594;
}
.navbar-links li a {
  text-decoration: none;
  color: mintcream;
  padding: 1rem;
  display: block;
}
.bar {
  display: block;
  width: 38px;
  height: 4px;
  background-color: #586594;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.bar::before,
.bar::after {
  display: block;
  content: "";
  width: 38px;
  height: 4px;
  left: 0;
  background-color: #ffffff;
  position: absolute;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.bar::before {
  transform: translateY(-8px);
}
.show-nav .bar::before {
  transform: rotate(45deg);
}
.bar::after {
  transform: translateY(8px);
}
.show-nav .bar::after {
  transform: rotate(-45deg);
}

/* section about me */
#about-me .me #experiences-pro-div div {
  background-color: var(--couleur-titre);
  color: mintcream;
  margin: 1em;
  padding: 1em;
}
#about-me .me {
  background-color: var(--couleur_fond);
  max-width: 500px;
  overflow: hidden;
  text-align: center;
  padding: 0.5em;
}
#about-me .me #a_propos_de_moi {
  margin-bottom: 1em;
}
#a_propos_de_moi h1 {
  border-radius: 20px;
  transform: translateX(120px);
  width: 50%;
}
#about-me .me #my-experiences-pro {
  margin-top: 1em;
}
#about-me .me h1 {
  color: mintcream;
  background-color: #142048;
  padding: 0.2em;
}
/** Curriculum vitae */
#about-me .me #download-cv-div button {
  background-color: var(--couleur-titre);
  padding: 0.6em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: mintcream;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
  font-weight: 700;
  border-radius: 20px;
}
#about-me .me #download-cv-div button:hover {
  color: var(--couleur_fond);
  background-color: mintcream;
  cursor: pointer;
}

#about-me .me #photo-professionnelle img {
  width: 40%;
  border-radius: 60%;
  background-color: var(--couleur-titre);
  border: 1px solid mintcream;
}
#about-me .me #metier {
  color: mintcream;
  font-size: 1.2em;
}
#about-me .me p {
  margin: 1em 2em;
  color: mintcream;
  text-align: center;
  padding: 1em;
  background-color: var(--couleur-titre);
}
/** Section ou me trouver */
#Where-can-i-be-found .me {
  max-width: 500px;
  background-color: var(--couleur_fond);
  width: 500%;
}
#my-coordinates {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#my-coordinates p {
  color: mintcream;
  font-weight: 700;
  font-size: 1.2em;
}
#my-coordinates h1 {
  color: mintcream;
  background-color: #142048;
  padding: 0.4em;
  border-radius: 20px;
}
#my-coordinates .coordonnées {
  color: mintcream;
  font-size: 23px;
}
.coordonnées div {
  font-size: 1em;
  font-weight: 700;
}
.coordonnées span {
  color:blue;
}
.me #my-coordinates #findEmploi {
  background-color: var(--couleur_fond);
}
.me #my-coordinates #findEmploi div {
  background-color: var(--couleur-titre);
  font-size: 1.5em;
  color: mintcream;
  padding: 1em;
}
/* section diplôme et expérience professionnel */

#diplômes_expérience_professionnel .parentofde {
  display: flex;
  gap: 3em;
  justify-content: space-between;
  max-width: 834px;
}
#diplômes_expérience_professionnel #experiences-pro-div {
  background: #586594;
  width: 116%;
  padding: 1em;
}
#diplômes_expérience_professionnel #my-formation div {
  background: #384266;
  color: mintcream;
  margin-top: 1em;
}
#diplômes_expérience_professionnel #experiences-pro-div div {
  background: #384266;
  color: mintcream;
  margin-top: 1em;
}
#diplômes_expérience_professionnel #my-formation {
  width: 93%;
  background: #586594;
  padding: 1em;
}
#diplômes_expérience_professionnel #my-formation h1 {
  color: mintcream;
  padding: 0.2em;
  background-color: #142048;
  border-radius: 20px;
}
#diplômes_expérience_professionnel #experiences-pro-div h1 {
  color: mintcream;
  padding: 0.2em;
  background-color: #142048;
  border-radius: 20px;
}
/* section centre d'intérêts et lanugues */
#centre_intérets_languages .parentofcl {
  display: flex;
  gap: 3em;
  justify-content: space-between;
  max-width: 834px;
}

#centre_intérets_languages #hobbies {
  background: #586594;
  width: 116%;
  padding: 1em;
}
#centre_intérets_languages #hobbies div {
  background: #384266;
  color: mintcream;
  margin-top: 1em;
}
#centre_intérets_languages #langues div {
  background: #384266;
  color: mintcream;
  margin-top: 1em;
}
#centre_intérets_languages #langues {
  width: 93%;
  background: #586594;
  padding: 1em;
}
#centre_intérets_languages #hobbies h1 {
  color: mintcream;
  padding: 0.2em;
  background-color: #142048;
  border-radius: 20px;
}
#centre_intérets_languages #langues h1 {
  color: mintcream;
  padding: 0.2em;
  background-color: #142048;
  border-radius: 20px;
}

#my-professional-social-network {
  display: flex;
  justify-content: space-around;
  gap: 2em;
}
#my-professional-social-network p {
  font-family: monospace;
  font-size: 1.3em;
  font-weight: 600;
}
#my-professional-social-network h1 {
  font-size: 1.4em;
  font-weight: 600;
  font-family: monospace;
  border-radius: 20px;
  color: mintcream;
}
#my-professional-social-network .icons-center h2 {
  color: mintcream;
  background-color: #9fb4fd;
  padding: 0.4em;
  border-radius: 20px;
}
#my-professional-social-network .icons-center iconify-icon {
  font-size: 20px;
  border-radius: 60%;
  padding: 0.9em;
  background-color: #9fb4fd;
}
#my-professional-social-network .icons-center iconify-icon:hover {
  background-color: mintcream;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-color: black;
}
/* section compétences */
#compétences #my-compétences {
  color: mintcream;
  padding: 0.5em;
  background-color: #142048;
  border-radius: 20px;
  max-width: 616px;
}
#compétences #my-compétences h1 {
  margin: 0;
  padding: 0.2em;
}
ul.compétences {
  background-color: var(--couleur-titre);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
ul.compétences #icons_g1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.langues-dev {
  margin: 1em 4px;
  background: var(--couleur_fond);
  padding: 0.5em;
  transition: all 0.3s;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.langues-dev:hover {
  background-color: #1d284d;
  cursor: pointer;
}
.langues-dev:hover h2 {
  background-color: var(--couleur-titre);
  color: mintcream;
}
.langues-dev iconify-icon {
  font-size: 4em;
}
.langues-dev h2 {
  background: mintcream;
  color: var(--couleur-titre);
  font-weight: 700;
  width: 100%;
}

/* formations */

.me #my-experiences-pro div {
  background-color: var(--couleur-titre);
  color: mintcream;
  margin: 1em;
  padding: 1em;
}
/* Centre Interêts */
#about-me .me #hobbies div {
  background-color: var(--couleur-titre);
  color: mintcream;
  margin: 1em;
  padding: 1em;
}
/* langues */
#about-me .me #langues div {
  background-color: var(--couleur-titre);
  color: mintcream;
  margin: 1em;
  padding: 1em;
}
/* Formation */
.me #my-formation div {
  background-color: var(--couleur-titre);
  color: mintcream;
  margin: 1em;
  padding: 1em;
}
#projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* section experiences-pro */
#my-experiences-pro .me {
  background-color: var(--couleur_fond);
  width: 60%;
  overflow: hidden;
  text-align: center;
}
#my-experiences-pro .me #experiences-pro-div #projects {
  display: flex;
  gap: 1em;
  margin: 3em;
}
#my-experiences-pro .me #experiences-pro-div h1 {
  color: mintcream;
  background-color: #142048;
  padding: 0.5em;
  width: 33%;
  border-radius: 20px;
}
#my-experiences-pro
  .me
  #experiences-pro-div
  .projets-cliquable-div
  .titre-projets {
  color: mintcream;
  background-color: var(--couleur-titre);
  padding: 0.5em;
  text-align: center;
}
#my-experiences-pro
  .me
  #experiences-pro-div
  #projects
  .projets-cliquable-div
  .screen-projets
  img {
  width: 100%;
  flex-direction: column;
}
#my-experiences-pro
  .me
  #experiences-pro-div
  .projets-cliquable-div
  .description-projets {
  color: mintcream;
}
/*  Projets */
#projects .projets-cliquable-div iconify-icon {
  font-size: 45px;
  cursor: pointer;
  border-radius: 50px;
  padding: 0.2em;
  background-color: var(--couleur-titre);
  transition: all 0.3s ease-in-out;
}

#projects .projets-cliquable-div a {
  color: white;
  text-decoration: none;
}
#projects .projets-cliquable-div iconify-icon:hover {
  transform: scale(1.5) translateY(15px);
  background-color: var(--couleur_fond);
}
#projects .projets-cliquable-div iconify-icon:hover h2 {
  color: mintcream;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.6s ease-in-out;
}
.show {
  opacity: 1;
  filter: blur(0);
}
/* section contact */
#contactez-moi h1 {
  color: mintcream;
  background-color: #142048;
  padding: 0.2em;
  width: 46%;
  border-radius: 20px;
}
#contactez-moi #inputs {
  width: 512px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contactez-moi #inputs div {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin-top: 0.5em;
}
#contactez-moi #inputs input,
#contactez-moi #inputs textarea {
  padding: 1em;
  border: none;
  color: mintcream;
  width: 100%;
  background-color: #384266;
  font-weight: 900;
  font-size: 1em;
}
#contactez-moi #inputs input:focus,
#contactez-moi #inputs textarea:focus {
  color: mintcream;
}
#contactez-moi #inputs label {
  color: mintcream;
  background-color: var(--couleur_fond);
  padding: 0.5em;
}
#contactez-moi #inputs button {
  background-color: #1d284d;
  padding: 0.6em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: mintcream;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 20px;
  margin-top: 1em
}
#contactez-moi #inputs div button:hover {
  background-color: var(--couleur_fond);
  color: mintcream;
  cursor: pointer;
}
/* footer */
#footer {
  color: mintcream;
  font-weight: 700;
  margin-bottom: 1em;
}
#footer p {
  margin-top: 2em;
  padding: 1.2em;
  background: #586594;
}
@media (max-width: 1040px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .burger {
    display: flex;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .navbar-links ul {
    height: 100%;
  }
  .navbar-links {
    overflow: hidden;
    position: absolute;
    width: 0;
    top: 49px;
    background-color: #384266;
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar-links {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 21px;
  }
  .show-nav .bar {
    width: 0;
    background-color: transparent;
  }
  .navbar a {
    color: var(--couleur_fond);
    text-decoration: none;
  }
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about-me .me {
    width: 100%;
  }
  #about-me .me #my-compétences .compétences li a {
    background-color: var(--couleur_fond);
  }
  #about-me .me #my-compétences .compétences li {
    padding: 6px;
  }
  #my-experiences-pro .me {
    width: 100%;
  }
  #my-experiences-pro .me #experiences-pro-div #projects {
    flex-direction: column;
  }
  .parentofde {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #diplômes_expérience_professionnel #experiences-pro-div {
    width: 93%;
  }
  /* #my-experiences-pro .me #experiences-pro-div h1 {
    transform: translateX(125px);
  } */
}
@media screen and (max-width: 700px) {
  .langues-dev {
    margin: 1em 4px;
    background: var(--couleur_fond);
    padding: 0.5em;
    transition: all 0.3s;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .langues-dev iconify-icon {
    width: 2.9em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .langues-dev h2 {
    background: mintcream;
    color: var(--couleur-titre);
    font-weight: 700;
    padding: 2px;
  }
  #compétences #my-compétences {
    color: mintcream;
    padding: 0.5em;
    background-color: #142048;
    border-radius: 20px;
    max-width: 450px;
    margin: 1em;
  }
  ul.compétences {
    background-color: var(--couleur-titre);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  ul.compétences #icons_g1 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #centre_intérets_languages .parentofcl {
    display: flex;
    gap: 3em;
    flex-direction: column;
    align-items: center;
    max-width: 834px  ;
  }
  #centre_intérets_languages #langues {
    width: 115%;
  }
}
